/*Base styles include setting heading sizes, default link styles, default font styles, and body backgrounds. There should be no need to use !important in a Base style.*/
@font-face {
    font-family: 'bignoodle';
    src: url('fonts/bignoodletoo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overwatch';
    src: url('fonts/koverwatch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  color: white;
}

body {
  background-image: url('../images/lijiangblur.png')
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  font-size: 3vw;
  font-family: 'overwatch';
  font-style: italic;
}

h2 {
  font-size: 2vw;
  font-family: 'overwatch';
  font-style: italic;
}

button {
  border-color: #f99e1a;
  border-width: 3px;
  /*border-style: solid;*/
  /*padding: 2px;*/
}

img {
  border-width: 2px;
  border-color: #218ffe;
  border-style: solid;
  /*box-shadow: 3px 3px 3px 3px black;*/
}
