/*Layout styles can also be divided into major and minor styles based on reuse. Major layout styles such as header and footer are traditionally styled using ID selectors but take the time to think about the elements that are common across all components of the page and use class selectors where appropriate. LAYOUTS SHOULD BE RESERVED FOR MAJOR LAYOUT CHANGES*/
header {
  background-color: rgba(0,0,0,.6);
  color: white;
  list-style: none;
  height: 120px;
  font-family: 'overwatch';
  font-style: italic;
  text-align: center;
  font-size: 4vw;
}

footer {
  background-color: gray;
}

.main-start {
  text-align: center;
  margin: 0 auto;
}

.stats-choice {
  width: 20%;
  margin: 3% 1.5% 3% 1.5%;
  display: inline-block;
}

.stats-choice img {
  box-shadow: 0 3px 5px rgba(255,255,255,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.stats-choice img:hover {
  box-shadow: 5px 10px 25px rgba(255,255,255,0.4);
}

.stats-choice h3 {
  font-family: 'overwatch';
  font-size: 4vh;
  font-style: italic;
  color: black;
  position: relative;
  bottom: 15vh;
  margin-bottom: 10%;
}
