/*As briefly mentioned in the previous section, a Module is a more discrete component of the page. It is your navigation bars and your carousels and your dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components. Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a standalone component. In doing so, the page will be more flexible. If done right, Modules can easily be moved to different parts of the layout without breaking.*/

.main-start {
  text-align: center;
  margin: 0 auto;
}

.stats-choice {
  width: 20%;
  margin: 3% 1.5% 3% 1.5%;
  display: inline-block;
}

.stats-choice img {
  box-shadow: 0 3px 5px rgba(253, 255, 214,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.stats-choice img:hover {
  box-shadow: 0px 10px 25px rgba(253, 255, 214,0.4);
}

.stats-choice h3 {
  font-family: 'overwatch';
  font-size: 4vh;
  font-style: italic;
  color: black;
  position: relative;
  bottom: 15vh;
  margin-bottom: 10%;
}

.form-controller {
  height: 125px;
  width: 100%;
  max-width: 750px;
}

form {
  margin: 40px 1% 40px 1%;
  width: 80%;
  height: 45px;
  float: left;
}

form > input, form > select, form > button {
  font-size: 150%;
  color: black;
  margin: 1%;
}

.searchload {
  margin: 40px 0.25% 40px -3px;
  border-radius: 10px;
  display: inline-block;
}

#stat-buttons {
  margin-left: 5vw;
}

#stat-buttons li {
  display: inline-block;
}

#player-detail {
  float: left;
  margin-left: 3%;
}

#compare-detail {
  float:right;
  margin-right: 3%;
}

canvas {
  margin-bottom: 10vh;
}

.about {
  font-family: 'overwatch';
  margin-top: 5vh;
  text-align: center;
}

.about div {
  width: 30vw;
  margin-left: 35vw;
  margin-bottom: 2vh;
}

.about h1 {
  font-size: 4vw;
}

.about h2 {
  font-size: 3vw;
}

.about p {
  font-size: 1.2vw;
}

.about img {
  width: 24vw;
  height: auto;
}

.about a {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
}

/*************************************/
/*Everything below is driving the menu*/
/*************************************/

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 45px;
  left: 40px;
  width: 100px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.player-view {
  font-size: 50px;
  font-family: 'overwatch';
  font-style: italic;
}
.compare-view {
  font-size: 50px;
  font-family: 'overwatch';
  font-style: italic;
}
#menu
{
  font-family: 'overwatch';
  font-style: italic;
  position: absolute;
  width: 180px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #c9c9c9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
