/*As briefly mentioned in the previous section, a Module is a more discrete component of the page. It is your navigation bars and your carousels and your dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components. Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a standalone component. In doing so, the page will be more flexible. If done right, Modules can easily be moved to different parts of the layout without breaking.*/
@media only screen and (max-width: 640px) {
  header h1 {
    font-size: 15vw;
  }

  .stats-choice {
    display: block;
  }

  .player-view {
    font-size: 10vh;
    font-family: 'overwatch';
    font-style: italic;
    display: block;
  }

}

.main-start {
  text-align: center;
  margin: 0 auto;
}

.main-start div {
  margin: 5vw;
}

.main-start img {
  width: 100%;
}

.stats-choice {
  width: 20%;
  margin: 3% 1.5% 3% 1.5%;
  display: inline-block;
}

.stats-choice img {
  box-shadow: 0 3px 5px rgba(253, 255, 214,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.stats-choice img:hover {
  box-shadow: 0px 10px 25px rgba(253, 255, 214,0.4);
}

.stats-choice h3 {
  font-family: 'overwatch';
  font-size: 4vh;
  font-style: italic;
  color: black;
  position: relative;
  bottom: 15vh;
  margin-bottom: 10%;
}

.form-controller {
  margin-left: 8vw;
  margin-top: 3vh;
  height: 10vh;
  width: 40vw;
  display: inline-block;
}

/*form {
  margin-left: 3vw;
  width: 80%;
  height: 3vh;
  float: left;
}*/

form > input, form > select, form > button {
  font-size: 150%;
  color: black;
  margin: 1%;
}

#stat-buttons {
  margin-left: 5vw;
}

#solo-stat-buttons {
  margin-left: 5vw;
}

#solo-stat-buttons li {
  display: inline-block;
}

#stat-buttons li {
  display: inline-block;
}

#player-detail {
  float: left;
  margin-left: 3%;
}

#compare-detail {
  float:right;
  margin-right: 3%;
}

.player-view {
  font-size: 15vh;
  font-family: 'overwatch';
  font-style: italic;
  display: block;
}

.compare-view {
  font-size: 10vh;
  font-family: 'overwatch';
  font-style: italic;
}

.primary {
  float: left;
}

#compare-player-button {
  width: 7vw;
  height: 3.2vh;
  margin-left: -8vw;
  margin-top: 1.2vh;
}

canvas {
  margin-bottom: 10vh;
}

.about {
  margin-top: 3vh;
  text-align: center;
}

.about div {
  width: 30vw;
  margin-left: 35vw;
  text-align: center;
  margin-bottom: 1vh;
}

.about img {
  width: 24vw;
  height: auto;
}

.about a {
  text-decoration: none;
  font-family: 'overwatch';
  font-size: 2.2vh;
  color: white;
}

.about p {
  font-size: 3vh;
  font-size: 1vw;
  font-family: 'overwatch';
}

/*************************************/
/*Everything below is driving the menu*/
/*************************************/

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 45px;
  left: 40px;
  width: 100px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.player-view {
  font-size: 50px;
  font-family: 'overwatch';
  font-style: italic;
}
.compare-view {
  font-size: 50px;
  font-family: 'overwatch';
  font-style: italic;
}
#menu
{
  font-family: 'overwatch';
  font-style: italic;
  position: absolute;
  width: 180px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #c9c9c9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
