/*Base styles include setting heading sizes, default link styles, default font styles, and body backgrounds. There should be no need to use !important in a Base style.*/
* {
  border: 1px solid red;
  color: white;
}

main {
  background-image: url('../images/oversalted.jpg');
  height: 900px
  width: auto;
}
